.web-container {
  margin-top: 10px;
}

#wait,
.results-container {
  display: none;
}

ul {
  list-style-type: none;
}

.equal {
  /*background-color: rgb(45, 98, 107);*/
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

p.search {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.return-home {
  float: right;
}

span.liner-header {
  text-align: center;
}
